/*Google font Ppoppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --blue: #4070f4;
    --blue2: #3b508a;
    --blue3: #91afff;
    --white: #fff;
    --black: #333;
    --black2: #2e2e2e;
    --grey: #aaa;
    --green: #02c40b;
    --red:#ce3434;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
}

.container {
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    padding: 10px 30px;
    margin: 0px 15px;
    background-color: var(--white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container header {
    position: relative;
    text-align: right;
    font-size: 39px;
    font-weight: 900;
    height: 150px;
    color: var(--blue);
    text-shadow: 5px 5px 2px var(--blue3);
    border-bottom: var(--black2) solid;
    background: url('ederly_health.jpg') no-repeat;
    background-position-y: -20px;
    background-size: 50%;
    transition: all 0.8s linear;
    -webkit-text-stroke: 2px var(--white);
}

.container h4 {
    position: relative;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    color: var(--blue);
    -webkit-text-stroke: 1px var(--white);
    text-shadow: 2px 2px 1px var(--blue3);
}

.container form {
    position: relative;
    min-height: 400px;
    background-color: var(--white);
    overflow: hidden;
    
}

.container form .form {
    position: absolute;
    background-color: var(--white);
    transition: 0.25s ease;
}

.container form .form.second {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    padding: 10%;
    transition: all 0.5s linear;
    height: 400px;
    width: 900px;
}

form.secActive .form.second {
    opacity: 1;
    pointer-events: auto;
    border-radius: 10px;
    padding: 10%;
    transform: translateX(0%);
    transition: all 0.5s linear;
}

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
    transition: all 0.5s linear;
}

form.secActive .labelPredict, .labelScore {
    font-size: 25px;
    font-weight: 600;
    color: var(--blue2);
    -webkit-text-stroke: 1px var(--white);
    text-shadow: 2px 2px 1px var(--blue3);
}
form.secActive .predictTxt, .scoreTxt {
    font-size: 30px;
    font-weight: 700;
    color: var(--black2);
    -webkit-text-stroke: 1px var(--white);
    text-shadow: 2px 2px 1px var(--blue3);
}

.container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: var(--black);
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 4 - 15px);
    flex-direction: column;
    margin: 4px;
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: var(--black2);
}

.input-field input, select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding: 0 15px;
    height: 30px;
    margin: 8px 0;
}

.input-field input:is(:focus) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.container form button, .resetBtn, .backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 50%;
    border: none;
    outline: none;
    color: var(--white);
    border-radius: 10px;
    margin: 25px 0;
    background-color: var(--blue);
    transition: all 0.2s linear;
}

.container form button,
.container form .resetBtn {
    font-size: 16px;
    font-weight: 400;
}

form .buttons {
    display: flex;  
    align-items: center;
    width: 50%;
}

form .buttons button, .resetBtn {
    margin-right: 14px;
}

form button:hover {
    background-color: var(--green);
    box-shadow: 2px 2px 5px var(--black2);
    font-size: 20px;
    font-weight: 500;
    text-shadow: 3px 3px 3px var(--black2);
    cursor: pointer;

}

form .resetBtn:hover {
    background-color: var(--red);
    box-shadow: 2px 2px 5px var(--black2);
    font-size: 20px;
    font-weight: 500;
    text-shadow: 3px 3px 3px var(--black2);
    cursor: pointer;

}

form .backBtn:hover {
    box-shadow: 2px 2px 5px var(--black2);
    font-size: 20px;
    font-weight: 500;
    text-shadow: 3px 3px 3px var(--black2);
    cursor: pointer;
}

@media (max-width: 750px) {
    .container form {
        overflow-y: scroll;
    }
    
    .container form::-webkit-scrollbar {
        display: none;
    }

    form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }

    form .fields .buttons {
        width: 100%;
        margin: 0px 50px;
    }

    .container header {
        position: relative;
        text-align:end;
        font-size: 35px;
        background-position-y: 30px;
        background-size: 50%;
        transition: all 0.8s linear;
    }

    form.secActive .labelPredict, .labelScore {
        font-size: 20px;
    
    }
    form.secActive .predictTxt, .scoreTxt {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    
    form .fields .input-field {
        width: 100%;
    }

    form.secActive .labelPredict, .labelScore {
        font-size: 18px;
    
    }
    form.secActive .predictTxt, .scoreTxt {
        font-size: 18px;
    }

}